@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

$primary-bg-color: rgb(70, 70, 223);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    background-image: url('../ingredients1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

img{
    width: 100%;
}

h1, h2 {
    text-align: center;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 3rem auto;
}

@mixin btn {
                margin-top: 1rem;
                margin-bottom: 1rem;
                position: absolute;
                padding: .5rem;
                border-radius: .3rem;
                -webkit-border-radius: .3rem;
                -moz-border-radius: .3rem;
                -ms-border-radius: .3rem;
                -o-border-radius: .3rem;
                border: 0;
                outline: none;
                font-size: .9rem;
                cursor: pointer;
                background-color: $primary-bg-color;
                color: white !important;
                bottom: 0 !important;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;


                 &:hover{ 
                     background-color: darken($primary-bg-color, 5);
                   } 
                }

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
