.modal{
    height: 100vh;
    width: 100%;
    background:rgba(0, 0, 0, 0.5);
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;

    .close-modal-btn{
                float: right;
                margin-right: 1rem;
                font-size: 2rem;
                cursor: pointer;
                color: $primary-bg-color;

                &:hover{
                    color: darken($primary-bg-color, 5);
                    font-weight: 900;
                }
            }

    .modal-content{
        width: 500px;
        background: #fff;
        margin: 3rem auto;
        padding: 1rem;
        line-height: 1.6;

        .recipe-details {
            color: #333;
            
            .img-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;

                .recipe-img {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                    }
            }

            .recipe-title{
                font-size: 2rem;
                margin-top: 1.5rem;
                color: $primary-bg-color;
            }

            .category{
                font-size: 1.2rem;

                span{
                    font-weight: 700;
                }
            }

            .instructions{
                font-weight: 700;
            }

            .recipe-instructions{
                margin: .5rem 0;
            }

            .video{
                @include btn;
                position: relative;
                padding: 0.3rem;
            }
        }
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}
   