@media(max-width:968px){
    
    .recipe-box{
        @include display-grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    
}

@media(max-width:650px){
    .meal-search{
        margin-top: 5rem;
        h1{
            font-size: 1.7rem;
        }
        h2{
            font-size: 1.3rem;
        }
    }
    .recipe-box{
        @include display-grid;
        grid-template-columns: 1fr;
        
        .recipe{
            max-width: 400px;
            width: 100%;
            margin: auto;
        }
    }

    .modal-content {
        max-width: 350px;
        width: 100%;
    }
    
}

@media(max-width: 450px){
    #search-input{
        &::-webkit-input-placeholder{
            font-size: 14px !important;
        }
        &::-moz-placeholder{
            font-size: 14px !important;
        }
        &:-ms-input-placeholder{
            font-size: 14px !important;
        }
        &::-ms-input-placeholder{
            font-size: 14px !important;
        }
        &::placeholder{
            font-size: 14px !important;
        }
    }
    .modal-content{
            max-width: 300px;
            width: 100%;
            margin: auto;

            .recipe-title{
                font-size: 1rem;
            }
        }
}

@media(max-width:350px){
    .meal-search{
        margin-top: 5rem;
    }
    .modal-content{
        max-width: 250px;
        width: 100%;
    }

    .not-found{
        font-size: 1.5rem;
        font-weight: 600;
    }

    #search-input{
        &::-webkit-input-placeholder{
            font-size: 11px !important;
        }
        &::-moz-placeholder{
            font-size: 11px !important;
        }
        &:-ms-input-placeholder{
            font-size: 11px !important;
        }
        &::-ms-input-placeholder{
            font-size: 11px !important;
        }
        &::placeholder{
            font-size: 11px !important;
        }
    }
}