@import "config";
@import "modal";

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.meal-search {
    margin-top: 7rem ;
    
    h1{
        color: #fff;
        font-size: 2rem;
        letter-spacing: 2px;
        margin-top: 2rem;
        font-weight: 300;
    }

    h2, h3{
        color: #fff;
        font-style: italic;
        text-align: center;
        font-weight: 100;
        margin-top: 1rem;
    }
   
    .search-box{
        display: -webkit-flex !important;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin: 2rem auto;
        background: $primary-bg-color;
        width: 70%;
        border-radius: 1.2rem;
    
        #search-input {
            width: 100%;
            border-radius:10px;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            -ms-border-radius:10px;
            -o-border-radius:10px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            outline: none;
            border: none;
            background: none;
            padding: 0.70rem 1rem;
            color: #fff;
            opacity: 1;
            font-size: 1.05rem;
            

            &::-webkit-input-placeholder{
                font-size: 1.05rem;
                opacity: 1;
                color: #fff;
            }

            &::-moz-placeholder{
                color: #fff !important;
                font-size: 1.05rem;
                opacity: 1;
            }

            &::-moz-placeholder{
                color: #fff !important;
                font-size: 1.05rem;
                opacity: 1;
            }

            &:-ms-input-placeholder{
                color: #fff !important;
                font-size: 1.05rem;
                opacity: 1;
            }

            &::-ms-input-placeholder{
                color: #fff !important;
                font-size: 1.05rem;
                opacity: 1;
            }

            &::placeholder{
                color: #fff !important;
                opacity: 1;
            }
        }

        .search-btn {
            width: 2.4rem;
            height: 2.4rem;
            outline: none;
            border: 1px solid $primary-bg-color;
            background-color: $primary-bg-color;
            color: #fff;
            cursor: pointer;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

              &:hover { background-color: darken($color: $primary-bg-color, $amount: 5);
                    }
            }
            
        }
    }


.recipe-box{
    padding: 1rem;
    @include display-grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    

    .recipe {
        position: relative;
        background-color: rgba(255,255,255,.8);
        border-radius: .4rem;
        img{
            border-top-left-radius: .2rem;
            border-top-right-radius: .2rem;
        }
        
        .recipe-content {
            padding: 1rem;
            border-radius: .2rem;

            h3{
                color: $primary-bg-color;
                font-style: normal;
                text-align: left;
                font-size: 1.5rem;
                margin-top: -.5rem;
                margin-bottom: 3rem;
            }

            .see-recipe{
                @include btn;
            }
        }
    }

}

.not-found{
    grid-template-columns: 1fr !important;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    width: 100%
}


@import "responsive";





